<!-- app.component.html -->
<div class="top-nav-col">
  <span class="hamburger-icon" (click)="toggleSidenav()">
    &#9776; <!-- Unicode for the hamburger icon -->
  </span>
  <!-- <span class="todo-icon">
    Todo 
  </span> -->
  <img _ngcontent-ng-c244254216="" loading="lazy" alt="LabConnect Logo" height="46" width="100" class="labConnect-logo" fetchpriority="auto" ng-img="true" src="assets/aipp-new-logo.png">
  <span class="example-spacer"></span>
  <span class="labConnect-name">
    LabConnect <!-- Unicode for the hamburger icon -->
  </span>
</div>
<div class="container-fluid">
  <!-- Hamburger icon -->
   

  <!-- Side navigation -->
  <div id="mySidenav" class="sidenav" [ngClass]="{'open': isSidenavOpen}">
    <a href="#">Article info</a>
    <a href="javascript:void(0)" class="closebtn" (click)="toggleSidenav()">&times;</a>

    <!-- Home menu with toggle for sub-items -->
    <a href="javascript:void(0)" (click)="toggleSubMenu('instruments')"><i class="material-icons success_icon">check_circle</i> Instruments</a>
    <div *ngIf="subMenuOpen['instruments']" class="sub-menu">
      <a [routerLink]="['/instruments-summary']">summary</a>
      <a *ngFor="let instrument of instruments" [routerLink]="['/instruments', instrument.instrumentName]">
        {{ instrument.instrumentName }}
      </a>
    </div>
   
  

    <!-- About menu with toggle for sub-items -->
    <a href="javascript:void(0)" (click)="toggleSubMenu('material')"><i class="material-icons success_icon">check_circle</i> Materials</a>
    <div *ngIf="subMenuOpen['material']" class="sub-menu">
      <a href="#">Mat1</a>
      <a href="#">Mat2</a>
    </div>

    <!-- Services menu with toggle for sub-items -->
    <a href="javascript:void(0)" (click)="toggleSubMenu('techniques')"><i class="material-icons success_icon">check_circle</i> Techniques</a>
    <div *ngIf="subMenuOpen['techniques']" class="sub-menu">
      <a href="#">Tech1</a>
      <a href="#">Tech2</a>
    </div>

    <a [routerLink]="['/todo']">Todo's</a>
  </div>

  <!-- Main content -->
  <div class="main-content" [ngClass]="{'shifted': isSidenavOpen}">
    <!-- <h1 class="text-center">My Todo List</h1>
    <app-todos></app-todos> -->
    <router-outlet></router-outlet>
    
  </div>
  

  <div class="footer" style="text-align: center;"> <span >Ⓒ2024 AIP Publishing LLC</span></div>
  
</div>
